@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
}
::-webkit-scrollbar {
  display: none;
}
.test{
  border: 5px solid red;
}
.Card{
  animation: first 6s infinite ;
}
#hehe1{
  animation-delay: 0S;
}
#hehe2{
  animation-delay: 1s;
}
#hehe3{
  animation-delay: 2s;
}
#hehe4{
  animation-delay: 3s;
}
#hehe5{
  animation-delay: 4s;
}
#hehe6{
  animation-delay: 5s;
}
@keyframes first{
  16.666666667%{
  box-shadow: 2px 2px 18px rgb(233, 233, 233);
}
}
@keyframes center {
  0%{
      transform:translateY(-150px);
  }
  100%{
      transform: translateY(0);
  }
}
@keyframes right {
  0%{
      transform:translateX(150px);
  }
  100%{
      transform: translateX(0);
  }
}